.container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.imagem {
  width: 100%;
  max-width: 700px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 20px;
}

.descricao {
  margin-top: 20px;
  line-height: 1.6;
}